.player{
    height: 100vh;
    display: flex;
    flex-direction: column; 
   justify-content: center;
   align-items: center;
}

.player img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}

.player iframe{
    border-radius: 10px;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

@media (max-width: 1024px) {
    .hero-caption .title-cards{
        display: none;
    }
    .hero-btns{
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .hero-caption{
        padding-left: 4%;
    }
    .caption-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-btns .btn img{
        width: 20px;
    }
    .more-cards{
        padding-left: 4%;
    }

}

@media (max-width: 500px) {
    .caption-img{
        display: none;
    }
    .hero-btns .btn img{
        width: 15px;
    
    }
    .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}

